<% include ../layouts/header.html %>

<ul>
<% articles.forEach(function(article) { %>
<li class="teaser">
		<a class="title" href="/articles/<%= article.id %>"><%= article.title %></a>
		<img src="<%= article.img %>">
	</li>
<% }) %>
</ul>